:root {
  --color-ice: #bfe3e9;
  --color-teal: #4dbece;
  --color-dark: #040404;
  --color-gray: #556669;
  --color-ocean: #26585f;
  --color-blue-gray: #4a7b85;
  --color-charcoal: #2c3435;
  --color-deep-ocean: #102e30;
  --color-navy: #1e3c44;
  --color-neutral: #848484;
}